[worker]
; A unique id that identifies this machine. By default the id is the machines MAC address on eth0
; This parameter is not required and should only be used in the case that the Raspberry Pi is changed
machine_id=MAQHMS
restart_on_fail_seconds=5
include_stacktrace=False

; logger configuration
[logging]
logger_name=innovapos
level=INFO
filename=C:\Dimatica\Log\onLine\innovapos_simulator.log
;filename=/home/pi/AppInnova/Logs/innovapos_simulator.log
; config files must have % escaped with a %%
format=%%(asctime)s %%(name)s %%(levelname)s %%(message)s

; General adapter configuration shared by all of them
[general_adapters]
; string termination character for strings that will be sent
send_end_char=\n
; string termination character for strings that will be received
receive_end_char=\n
; timeout for the adapter
timeout=1
; delay to wait before trying to listen for an answer
; total waiting time therefore will equal to the answer_delay + timeout
answer_delay=0

; [ccm_adapter] and [mon_adapter] sections are for the adapters of the corresponding devices
; Adapter type can be either 'tcp' or 'serial'
; the connection string must be compatible with the used adapter
; TCP adapters expect a hostname followed by a port like this 'localhost:3000'
; Serial adapters expect a platform specific connection string. Either the name of the COM port for Windows, or the
; path to the serial interface on unix systems
[ccm_adapter]
type=tcp
connection_string=localhost:3000

[mon_adapter]
type=tcp
connection_string=localhost:3001

[rabbitmq_incoming]
connection_string=amqp://MachineDimatica:Machine@innova.vservers.es:5672
queue_name=IN_

[rabbitmq_outgoing]
connection_string=amqp://MachineDimatica:Machine@innova.vservers.es:5672
queue_name=OUT_

[rabbitmq_local]
connection_string=amqp://MachineDimatica:Machine@innova.vservers.es:5672
queue_name=gateway

[rabbitmq_phone]
connection_string=amqp://MachineDimatica:Machine@innova.vservers.es:5672
queue_name=Phone_

